.coin-price-table-container {
    font-family: Arial, sans-serif;
    background-color: hwb(24 93% 5%);
    padding: 20px;
    border-radius: 40px;
  }
  
  .coin-price-table-container h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #ffffff; /* Text color */
    background-color: #cc3737; /* Background color */
    padding: 10px; /* Padding for the h1 element */
  }
  
  .coin-price-table-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: rgb(225, 7, 26);
  }
  
  .coin-price-table-container h3 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .card {
    width: 300px;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 20px; /* Rounded corners */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .card:not(:last-child) {
    margin-right: 20px; /* Add margin between the cards */
  }
  
  .card h3 {
    margin-top: 0;
  }
  
  .card p {
    margin: 5px 0;
  }
  
  .green {
    color: green;
  }
  
  .red {
    color: red;
  }
  
  /* Define an array of colors */
  :root {
    --card-colors-1: #750e3c;
    --card-colors-2: #a32b0a;
    --card-colors-3: #cf1736;
    --card-colors-4: #c83349;
    --card-colors-5: #cb85ac;
  }
  
  /* Assign a color to each card based on its index in the array */
  .card:nth-child(1) {
    background-color: var(--card-colors-1);
  }
  
  .card:nth-child(2) {
    background-color: var(--card-colors-2);
  }
  
  .card:nth-child(3) {
    background-color: var(--card-colors-3);
  }
  
  .card:nth-child(4) {
    background-color: var(--card-colors-4);
  }
  
  .card:nth-child(5) {
    background-color: var(--card-colors-5);
  }
  .currency-info{
    display:flex;
    gap:60px;
    
    border-radius: 50%;
    
  }
  .currency-info svg {
    font-size: 3rem;
    border-radius: 50%; /* Increase the font size of the icon */
  }
  .separator{
    display:contents;
    
  }
 

  

  
  


  /* .coin-price-table-container {
    font-family: Arial, sans-serif;
    
  }
  
  .coin-price-table-container h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #ffffff; 
    background-color: #cc3737; 
    padding: 10px; 
  }
  
  .coin-price-table-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: blue;
  }
  
  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .card {
    width: 300px;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 20px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color:paleturquoise;
  }
  
  .card:not(:last-child) {
    margin-right: 20px; 
  }
  
  .card h3 {
    margin-top: 0;
  }
  
  .card p {
    margin: 5px 0;
  }
  
  .green {
    color: green;
  }
  
  .red {
    color: red;
  }
   */